.libs
*.trs
*.lo
*.o
m4/lt*.m4
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.status
config.sub
config.log
configure
depcomp
install-sh
libm4ri.la
libtool
ltmain.sh
m4/libtool.m4
m4ri.pc
missing
test-driver
test_djb
test_colswap
test_elimination
test_invert
test_kernel
test_misc
test_multiplication
test_ple
test_random
test_smallops
test_solve
test_transpose
test_trsm
test_alignment
/tests/*.log
/bench/bench_elimination
/bench/bench_elimination_sparse
/bench/bench_invert
/bench/bench_multiplication
/bench/bench_mzd
/bench/bench_ple
/bench/bench_rank
/bench/bench_trsm
/bench/cpucycles-20060326/cpucycles.h
/bench/cpucycles-20060326/do.notes
/bench/cpucycles.h
/*/.deps/
/*/.dirstamp
/m4ri/config.h
/m4ri/config.h.in
/m4ri/m4ri_config.h
/m4ri/stamp-h1
/bench/bench_m4rm
/m4ri/config.h.in~

