.libs
*.trs
*.lo
m4/lt*.m4
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.status
config.sub
configure
depcomp
install-sh
libm4ri.la
libtool
ltmain.sh
m4/libtool.m4
m4ri.pc
missing
src/.deps/
src/.dirstamp
src/config.h
src/config.h.in
src/m4ri_config.h
src/stamp-h1
test-driver
test_colswap
test_elimination
test_invert
test_kernel
test_misc
test_multiplication
test_ple
test_random
test_smallops
test_solve
test_transpose
test_trsm
testsuite/.deps/
testsuite/.dirstamp
testsuite/Makefile
testsuite/bench_elimination
testsuite/bench_elimination_sparse
testsuite/bench_invert
testsuite/bench_multiplication
testsuite/bench_mzd
testsuite/bench_ple
testsuite/bench_rank
testsuite/bench_trsm
testsuite/cpucycles-20060326/cpucycles.h
testsuite/cpucycles-20060326/do.notes
testsuite/cpucycles.h
